<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.andrewtremblay.plugintest" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Plugin-Example</name>
	<AUTHOR>Andrew Tremblay</AUTHOR>
	<description>A Test</description>
	<js-module name="Plugin-Example" src="www/Plugin-Example.js">
		<clobbers target="cordova.plugins.Plugin-Example" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Plugin-Example">
				<param name="ios-package" value="Plugin-Example" />
			</feature>
		</config-file>
		<source-file src="src/ios/CDVPlugin-Example.m" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Plugin-Example">
				<param name="android-package" value="com.andrewtremblay.plugintest.Plugin-Example" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/Plugin-Example.java" target-dir="src/com/andrewtremblay/plugintest/Plugin-Example" />
	</platform>
</plugin>